body{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
section{
  height: 900px;
  
}
h1{
  font-size: 50px;
  
}
h2{
  font-size: 45px;
}
h1 span{
  color: hotpink;
}
#header{
  background-image: url(images/header-bg.png);
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  
}
.text-area{
  margin-top: 15%;
}
.half-width img{
  width: 100%;
  margin-top: 10%;
  
}
.anchor-button{
  text-decoration: none;
  background-image: linear-gradient(45deg,hotpink,tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 800;
  border-radius: 2px;
}
p{
  color: gray;
}
#bio-area{
  background-image: url(images/biography-bg.png);
}
#skills-area{
  height: 400px;
  background-image: url(images/footer-bg.png);
}
#skills-area h1{
  text-align: center;
}
#skills-area h3{
  font-size: 30px;
}
.skills-area-manage{
  margin-left: 10%;
  margin-right: 10%;
  
}
.skill-topic{
  width: 28%;
  float: left;
  margin: 1%;
  padding: 1%;
}
.single-skill{
  box-shadow: 2px 2px 20px gray;
  border-radius: 10px;
}
#html{
  border-left: 7px solid;
  border-image: linear-gradient(180deg,tomato,white);
  border-image-slice: 1;
}
#css{
  border-left: 7px solid;
  border-image: linear-gradient(180deg,blue,white);
  border-image-slice: 1;
}
#javascript{
  border-left: 7px solid;
  border-image: linear-gradient(180deg,darkviolet,white);
  border-image-slice: 1;
}
#mongodb{
  border-left: 7px solid;
  border-image: linear-gradient(180deg,yellow,white);
  border-image-slice: 1;
}
#nodejs{
  border-left: 7px solid;
  border-image: linear-gradient(180deg,red,white);
  border-image-slice: 1;
}
#react{
  border-left: 7px solid;
  border-image: linear-gradient(180deg,cyan,white);
  border-image-slice: 1;
}

#latest-work{
  background-image: url(images/latest-work-bg.png);
  height: 400px;
  padding-top: 10%;
}
#latest-work h1{
  text-align: center;
}
#latest-work div{
  width: 29%;
  float: left;
  margin: 1%;
  padding: 1%;
}
#latest-work div img{
  width: 100%;

}
#client-area{
  text-align: center;
  margin-top: 15%;
  background-image: url(images/footer-bg.png);
  height: 500px;
}
#client-div{
  margin-left: 35%;
  margin-right: 35%;
}
#client-div q{
  text-align: justify;
  color: darkgray;
  font-weight: 800;
}
#client-div-mail{
background-image: linear-gradient(45deg,hotpink,tomato);
color: white;
padding: 10px 10px;
margin-top: 10%;
border-radius: 4px;
}
#client-div-mail a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  
}
footer{
  text-align: center;

}


